mixin DestinationCard(props)
  .col-md-4.mb-4 
    .card.overflow-hidden 
      img.card-img-top(src=`${CWD}assets/img/dest/${props.img}`, alt=props.place)
      .card-body.py-4.px-3 
        .d-flex.flex-column.flex-lg-row.justify-content-between.mb-3 
          h4.text-secondary.fw-medium.font-sans-serif= props.place
          span.fs-1.text-secondary.fw-medium= `$${props.cost}`
        div.d-flex.align-items-center 
          img(src=`${CWD}assets/img/dest/navigation.svg`, style='margin-right: 14px' width='20' alt="navigation")
          span.fs-0.text-secondary.fw-medium= `${props.trip} Days Trip`
